body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-431px;
  width:1155px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:2px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:142px;
  width:1155px;
  height:1px;
  display:flex;
  color:#000000;
}
#u152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:58px;
  color:#890D19;
  text-transform:uppercase;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:49px;
  width:293px;
  height:77px;
  display:flex;
  font-family:'Microsoft New Tai Lue';
  font-weight:400;
  font-style:normal;
  font-size:58px;
  color:#890D19;
  text-transform:uppercase;
}
#u153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:uppercase;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei UI Normal', 'Microsoft JhengHei UI';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
  text-align:center;
  text-transform:uppercase;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:112px;
  width:432px;
  height:23px;
  display:flex;
  font-family:'Microsoft JhengHei UI Normal', 'Microsoft JhengHei UI';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#555555;
  text-align:center;
  text-transform:uppercase;
}
#u154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:uppercase;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:60px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:49px;
  width:84px;
  height:60px;
  display:flex;
  -webkit-transform:rotate(2deg);
  -moz-transform:rotate(2deg);
  -ms-transform:rotate(2deg);
  transform:rotate(2deg);
  color:#890E1A;
}
#u155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:66px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:60px;
  width:184px;
  height:66px;
  display:flex;
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft JhengHei UI Negrito', 'Microsoft JhengHei UI Normal', 'Microsoft JhengHei UI';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#555555;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:345px;
  width:374px;
  height:29px;
  display:flex;
  font-family:'Microsoft JhengHei UI Negrito', 'Microsoft JhengHei UI Normal', 'Microsoft JhengHei UI';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#555555;
}
#u157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:939px;
  top:399px;
  width:140px;
  height:40px;
  display:flex;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
